/* This is the CSS document to accompany my ioslides presentation. */

/*Title slide and header modification*/

slides > .title-slide h1 {
  color: #1E4D2B;
  font-size: 60px;
}

p {
    font-size: 20pt;
}

h2{
  color: #1E4D2B;
  text-decoration: underline; 
}

/*Defining classes that format based on slide type*/

#points {  /*for bulleted lists*/
   line-height: 2;
   font-size: 20pt;
}

#image-center { /*for centered image-only slides*/
   text-align:center;
}





#iframe{
  height:80;
}

